@model IEnumerable<Gregory.Models.Permiso>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Permisos</h1>

<p>
    <a asp-action="Create">Agregar Permiso</a>
</p>
<table class="table" id="PermisosTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombrePermiso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombrePermiso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdPermiso">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdPermiso">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.IdPermiso">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>

@section Scripts {

    <script>
        $(document).ready(function () {
            $('#PermisosTable').DataTable({
                language: {
                    "sLengthMenu": "Mostrar _MENU_ entradas",
                    "sInfo": "Mostrando _START_ a _END_ de _TOTAL_ entradas",
                    "sSearch": "Buscar:"
                }
            });
        })
    </script>
}